.git
.gitignore
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.idea
.vscode
*.keras
*.h5
checkpoint_path.keras
ticket_classifier.png
updated_ticket_classifier.png
environment.yml
Dockerfile
.dockerignore
